*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/lib-commni/src/test/java/jp/gr/java_conf/falius/andcommuni/ExampleUnitTest.java
/lib-commni/src/androidTest/java/jp/gr/java_conf/falius/andcommuni/ExampleInstrumentedTest.java

/sampleapp/src/main/java/jp/gr/java_conf/falius/andcommuni/sampleapp/example/
/sampleapp/src/main/res/layout/activity_example.xml
/sampleapp/src/androidTest/java/jp/gr/java_conf/falius/andcommuni/sampleapp/ExampleInstrumentedTest.java
/sampleapp/src/test/java/jp/gr/java_conf/falius/andcommuni/sampleapp/ExampleUnitTest.java
