*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/lib-commni/src/main/res/layout/activity_main.xml
/lib-commni/src/test/java/jp/gr/java_conf/falius/andcommuni/ExampleUnitTest.java
/lib-commni/src/androidTest/java/jp/gr/java_conf/falius/andcommuni/ExampleInstrumentedTest.java
/lib-commni/src/main/java/jp/gr/java_conf/falius/andcommuni/example/

/lib-commni/proguard-rules.pro
